@model FlatMate.Web.Mvc.Base.MvcViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>FlatMate - @ViewData["Title"]</title>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <link asp-href-include="~/dist/app.css" rel="stylesheet" asp-append-version="true"/>
</head>

<body>

<header>
    <div class="header-wrapper">
        <div class="flex-row nav-toggle">
            <div class="menu-toggle">
                <label for="menu-checkbox">
                    <span class="fa-host">
                        <i class="fa fa-bars fa-2x"></i>
                    </span>
                </label>

            </div>

            <div class="welcome-wrapper">
                @if (Model.CurrentUser != null)
                {
                    <span class="welcome">Hallo @Model.CurrentUser.UserName!</span>
                }
                else
                {
                    <span class="welcome">Hallo!</span>
                }
            </div>

        </div>

    </div>
</header>

<input id="menu-checkbox" type="checkbox" style="display: none"/>

<nav>

    <div class="cat">Listen</div>
    <ul>
        <li>
            <a asp-area="Lists" asp-controller="ItemList" asp-action="My">Meine Listen</a>
            <a asp-area="Lists" asp-controller="ItemList" asp-action="Browse">Listen Suchen</a>
        </li>
    </ul>

    <div class="cat">Angebote</div>
    <ul>
        <li>
            @{
                var rewe = new Dictionary<string, string> { { "companyId", "1" } };
                var penny = new Dictionary<string, string> { { "companyId", "2" } };
                var aldi = new Dictionary<string, string> { { "companyId", "5" } };
            }
            <a asp-area="Offers" asp-controller="Offer" asp-action="View" asp-all-route-data="rewe">REWE</a>
            <a asp-area="Offers" asp-controller="Offer" asp-action="View" asp-all-route-data="penny">Penny</a>
            <a asp-area="Offers" asp-controller="Offer" asp-action="View" asp-all-route-data="aldi">Aldi</a>
        </li>
    </ul>

    <div class="cat">Profil</div>
    <ul>
        <li>
            <a asp-area="Account" asp-controller="MyProfile" asp-action="ChangePassword">Password ändern</a>
            <a asp-area="Account" asp-controller="Logout" asp-action="Index">Logout</a>
        </li>
    </ul>
</nav>

<main class="@ViewData["MainClass"]">
    <section class="container">
        <alert-bar></alert-bar>
    </section>

    @RenderBody()
</main>

<script type="text/html" id="alert-bar-template">

    <!-- ko if: alerts().length > 0 -->
    <div class="alert-wrapper" data-bind="foreach: alerts">
        <div class="alert" data-bind="css: { 'alert-success': 'Success' === levelString(), 'alert-error': 'Error' === levelString() }">
            <span data-bind="text: message"></span>
        </div>
    </div>
    <!-- /ko -->

</script>

@if (Model != null)
{
    <script type="application/json" id="data-current-user">
        @Json.Serialize(Model.CurrentUser)
    </script>
}

@RenderSection("viewData", false)

<script type="text/json" id="data-alert">
    @Json.Serialize(Model.Result)
</script>

<script asp-src-include="~/dist/vendor.js" asp-append-version="true" type="text/javascript"></script>
<script asp-src-include="~/dist/app.js" asp-append-version="true" type="text/javascript"></script>

@RenderSection("pageScript", false)

</body>

</html>