@model FlatMate.Web.Areas.Offers.Data.ProductViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = $"Produktdetails {Model.Product.Name}";
    ViewData["PageTitle"] = "Produktdetails";
    ViewData["MainClass"] = "product-view";
}

<section class="container">
    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex">
        </div>
    </div>
</section>

<section class="container">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Model.Product.Name</h3>
            <div class="card-options">
                @if (Model.IsFavorite)
                {
                    <a asp-area="Offers" asp-controller="Product" asp-action="Unfavorite" asp-route-id="@Model.Product.Id" class="btn btn-success" title="Als Favorit löschen">
                        <i class="fa fa-heart" aria-hidden="true"></i> Favorisiert
                    </a>
                }
                else
                {
                    <a asp-area="Offers" asp-controller="Product" asp-action="Favorite" asp-route-id="@Model.Product.Id" class="btn btn-secondary">
                        <i class="fa fa-heart" aria-hidden="true"></i> Als Favorit
                    </a>
                }
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col col-picture">
                    <div class="picture-wrapper">
                        <img class="b-lazy"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-src="@OfferImageHelper.Get(Model.Product.ImageUrl, Model.Product.CompanyId, 150)"
                             width="150"
                             height="150"/>
                    </div>
                </div>
                <div class="col-md col-product-info">
                    <div>
                        @if (string.IsNullOrEmpty(Model.Product.Description.Trim()))
                        {
                            @: keine Beschreibung vorhanden
                        }
                        else
                        {
                            @Model.Product.Description.Trim()
                        }
                    </div>

                    <div class="product-price">

                        @if (Model.Offers.Count > 0)
                        {
                            <div>
                                <text>Letztes Angebot: @Model.Offers.Last().Price €</text>
                            </div>
                        }
                    </div>

                    <div class="row no-gutters product-actions">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Im Angebot</h3>
        </div>

        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th style="width: 1%;">Von</th>
                <th style="width: 1%;" class="show-large">Bis</th>
                <th style="width: 1%;">Größe</th>
                <th style="width: 1%;">Preis</th>
                <th style="width: 1%;" class="show-large">Basispreis</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            @foreach (var offer in Model.Offers.OrderByDescending(o => o.From))
            {
                <tr>
                    <td>@offer.From.ToShortDateString()</td>
                    <td class="show-large">@offer.To.ToShortDateString()</td>
                    <td>
                        <span style="white-space: nowrap">@offer.SizeInfo</span>
                    </td>
                    <td>
                        <span style="white-space: nowrap">@offer.Price €</span>
                    </td>
                    <td class="show-large">
                        <span style="white-space: nowrap">@offer.BasePrice</span>
                    </td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    @if (Model.PriceHistory.Count > 1)
    {
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Preishistorie</h3>
            </div>

            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th width="50%">Von</th>
                    <th width="50%">Preis</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var history in Model.PriceHistory.OrderByDescending(p => p.Date))
                {
                    <tr>
                        <td>@history.Date.ToShortDateString()</td>
                        <td>@history.Price €</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

</section>