@model FlatMate.Web.Areas.Offers.Data.ProductViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Product.Name;
    ViewData["PageTitle"] = "Produktdetails";
    ViewData["MainClass"] = "product-view";
}

<section class="container">

    <div class="standard-box product-info-box">

        <div class="row">
            <div class="col col-picture">
                <div class="picture-wrapper">
                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@Model.Product.ImageUrl?resize=150px:150px" />
                </div>
            </div>
            <div class="col-md col-product-info">
                <div style="font-size:1.5rem;">@Model.Product.Name</div>

                <div>@Model.Product.Description</div>

                @if (Model.Product.Price > 0)
                {
                    <div class="product-price">
                        <text>@Model.Product.Price € (@Model.Product.SizeInfo)</text>
                    </div>
                }
                else
                {
                    <div>@Model.Product.SizeInfo</div>
                }
            </div>
        </div>

    </div>

    <h3>Im Angebot</h3>
    <div class="standard-box">
        <table>
            <thead>
                <tr>
                    <th width="20%">Von</th>
                    <th width="20%">Bis</th>
                    <th width="20%">Preis</th>
                    <th width="40%">Markt</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var offer in Model.Offers.OrderByDescending(o => o.From))
                {
                    <tr>
                        <td>@offer.From.ToShortDateString()</td>
                        <td>@offer.To.ToShortDateString()</td>
                        <td>@offer.Price €</td>
                        <td>@offer.Market.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.PriceHistory.Count > 1)
    {
        <h3>Preishistorie</h3>
        <div class="standard-box">
            <table>
                <thead>
                    <tr>
                        <th width="50%">Von</th>
                        <th width="50%">Preis</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var history in Model.PriceHistory.OrderByDescending(p => p.Date))
                {
                        <tr>
                            <td>@history.Date.ToShortDateString()</td>
                            <td>@history.Price €</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }


</section>