@model FlatMate.Web.Areas.Offers.Data.MarketIndexVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Märkte";
    ViewData["PageTitle"] = "Märkte";
    ViewData["MainClass"] = "marketindex";
}

<section class="container">

    <div class="row">

        @foreach (var market in Model.Markets)
        {
            <div class="col-lg-6">
                <a asp-action="View" asp-route-id="@market.Id" class="standard-box market-box">
                    @if (!string.IsNullOrEmpty(market.Company.ImageLink))
                    {
                        <div class="image">
                            <img src="@market.Company.ImageLink" style="width:100%" />
                        </div>
                    }
                    <div class="address">
                        <strong>@market.Name</strong> <br />
                        <span>@market.Street, @market.PostalCode @market.City</span>
                    </div>
                </a>
            </div>

        }

    </div>



</section>