@model FlatMate.Web.Areas.Offers.Data.MarketViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Market.Name;
    ViewData["PageTitle"] = "Im Angebot";
    ViewData["MainClass"] = "market-view";
}

<section class="container">

    <div class="row align-right actions">
        <div class="col-auto">
            <a asp-controller="ProductFavorite" asp-action="Manage" asp-route-marketId="@Model.Market.Id">Favoriten verwalten</a>
        </div>
    </div>

    <div class="standard-box market-info-box">

        <div class="row">
            <div class="col-sm-12 col-md-4 col-market-image">
                <img src="@Model.Market.Company.ImageLink" height="66" />
            </div>
            <div class="col-sm-12 col-md-5 col-market-info">
                <div>
                    <span style="font-size: 1.5rem;">@Model.Market.Name</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Market.Street))
                {
                    <div>
                        <small>@Model.Market.Street, @Model.Market.PostalCode @Model.Market.City</small>
                    </div>
                }
            </div>
            <div class="col-sm-12 col-md-3 col-offer-count">
                @Model.Offers.Count Produkte im Angebot<br />
                von @Model.OffersFrom.ToShortDateString() bis @Model.OffersTo.ToShortDateString()
            </div>
        </div>
    </div>

    @if (Model.Favorites.Count > 0)
    {
        <h3>Favoriten</h3>

        <div class="row">

            @foreach (var offer in Model.Favorites)
                {
                <div class="col-sm-6 col-lg-4 col-xl-3 col-offer">
                    <a asp-area="Offers" asp-controller="Product" asp-action="View" asp-route-id="@offer.ProductId" class="standard-box offer-box">

                        <div class="image">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@OfferImageHelper.Get(offer, 150)" width="150" />
                        </div>

                        <div class="name">
                            <strong>@offer.Product.Name</strong>
                        </div>

                        <div class="price">
                            <span style="font-size:1.5rem">@offer.Price €</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    }



    @{
        var offersByProductCategory = Model.Offers.OrderByDescending(o => o.Product.ProductCategory.SortWeight)
                                                  .GroupBy(o => o.Product.ProductCategory.Id.Value);
    }

    @foreach (var offersGroup in offersByProductCategory)
    {
        <h3>@Model.ProductCategories[offersGroup.Key].Name</h3>

        <div class="row">

            @foreach (var offer in offersGroup.OrderBy(x => x.From).ThenBy(x => x.Product.ExternalId))
            {
                <div class="col-sm-6 col-lg-4 col-xl-3 col-offer">
                    <a asp-area="Offers" asp-controller="Product" asp-action="View" asp-route-id="@offer.ProductId" class="standard-box offer-box">

                        <div class="image">
                            <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@OfferImageHelper.Get(offer, 150)" width="150" />
                        </div>

                        <div class="name">
                            @if (Model.Favorites.Contains(offer))
                            {
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            }
                            <strong>@offer.Product.Name</strong>
                        </div>

                        @if (Model.OffersFrom != offer.From)
                        {
                            <div>
                                ab @offer.From.ToString("ddd"), @offer.From.ToShortDateString()
                            </div>
                        }

                        <div class="price">
                            <span style="font-size:1.5rem">@offer.Price €</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</section>
