@model FlatMate.Web.Areas.Lists.Data.ItemListBrowseVm
@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste suchen";
    ViewData["PageTitle"] = "Liste suchen";
}

<section class="container">

    <div class="alert-wrapper">
        @if (Model.IsError)
        {
            <div class="alert alert-danger">@Model.Result.Message</div>
        }
        else if (Model.IsSuccess)
        {
            <div class="alert alert-success">@Model.Result.Message</div>
        }
    </div>

    <div class="standard-box">
        <table>
            <thead>
                <tr>
                    <td>
                        <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                    </td>
                    <td class="show-large">@list.Owner.UserName</td>
                    <td class="icon">
                        @if (Model.Favorites.Any(l => l.Id == list.Id))
                        {
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="Unfavorite" asp-route-id="@list.Id" class="icon-24 icon-heart-filled" title="Als Favorit entfernen"></a>
                        }
                        else
                        {
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="Favorite" asp-route-id="@list.Id" class="icon-24 icon-heart" title="Als Favorit hinzufügen"></a>
                        }
                    </td>
                </tr>
            </thead>

            <tbody>
                @foreach (var list in Model.Lists)
                {
                    <tr>
                        <td>
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                        </td>
                        <td class="show-large">@list.Owner.UserName</td>
                        <td class="icon">
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="Favorite" asp-route-id="@list.Id" class="icon-24 icon-heart" title="Als Favorit hinzufügen"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>