@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste suchen";
    ViewData["PageTitle"] = "Liste suchen";
}

<section class="container">

    <div class="alert-wrapper">
        @if (Model.IsError)
        {
            <div class="alert alert-danger">@Model.Result.Message</div>
        }
        else if (Model.IsSuccess)
        {
            <div class="alert alert-success">@Model.Result.Message</div>
        }
    </div>

    <table>
        <thead>
            <tr>
                <th width="75%">Name</th>
                <th>Von</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var list in Model.Lists)
            {
                <tr>
                    <td>
                        <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                    </td>
                    <td class="show-large">@list.Owner.UserName</td>
                </tr>
            }
        </tbody>
    </table>

</section>