@model FlatMate.Web.Areas.Lists.Data.ItemListMyVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Meine Listen";
    ViewData["PageTitle"] = "Meine Listen";
}

<section class="container">

    <div class="flex-row align-right actions">
        <a asp-controller="ItemList" asp-action="Create">Liste erstellen</a>
    </div>

</section>

<section class="container">

    <div class="standard-box">
        <table>
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="25%" class="show-large">Einträge</th>
                    <th class="show-large">öffentlich?</th>
                    <th class="icon show-large"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var list in Model.MyLists)
            {
                    <tr>
                        <td>
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                        </td>
                        <td class="show-large">@list.ItemCount</td>
                        <td class="show-large">
                            <span class="fa-inline-host">
                                @if (list.IsPublic)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </span>
                        </td>
                        <td class="icon show-large">
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="Update" asp-route-id="@list.Id" class="fa-host" title="Bearbeiten">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>

<section class="container" style="margin-top: 5rem;">

    <div class="flex-row">
        <div class="flex-row actions vertical-center" style="width: 50%">
            <h3>Favoriten</h3>
        </div>

        <div class="flex-row align-right actions" style="width: 50%">
            <a asp-controller="ItemList" asp-action="Browse">Liste suchen</a>
        </div>
    </div>

</section>

<section class="container">

    <div class="standard-box">

        @if (!Model.Favorites.Any())
        {
            <div style="padding: .5rem 1rem; text-align: center">
                Du hast noch keine Favoriten hinzugefügt.
            </div>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th width="75%">Name</th>
                        <th class="show-large">von</th>
                        <th class="icon"></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var list in Model.Favorites)
                    {
                        <tr>
                            <td>
                                <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                            </td>
                            <td class="show-large">@list.Owner.UserName</td>
                            <td class="icon">
                                <a asp-area="Lists" asp-controller="ItemList" asp-action="Unfavorite" asp-route-id="@list.Id" class="fa-host danger" aria-hidden="true" title="Als Favorit entfernen">
                                    <i class="fa fa-times danger" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>

</section>
