@model FlatMate.Web.Areas.Lists.Data.ItemListMyVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Meine Listen";
    ViewData["PageTitle"] = "Meine Listen";
}

<section class="container">

    <div class="flex-row align-right actions">
        <a asp-controller="ItemList" asp-action="Create">Liste erstellen</a>
        <a href="#">Listen suchen</a>
    </div>

</section>

<section class="container">

    <table>
        <thead>
            <tr>
                <th width="50%">Name</th>
                <th width="25%" class="show-large">Einträge</th>
                <th class="show-large">Öffentlich?</th>
                <th class="icon show-large"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var list in Model.Lists)
            {
                <tr>
                    <td>
                        <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                    </td>
                    <td class="show-large">@list.ItemCount</td>
                    <td class="show-large">
                        <input type="checkbox" checked="@list.IsPublic" disabled title="Öffentlich?" />
                    </td>
                    <td class="icon show-large">
                        <a asp-area="Lists" asp-controller="ItemList" asp-action="Update" asp-route-id="@list.Id" class="icon-24 icon-pen" title="Bearbeiten"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
