@model FlatMate.Web.Areas.Lists.Data.ItemListMyVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Meine Listen";
    ViewData["PageTitle"] = "Meine Listen";
}

<section class="container">
    <div class="page-header">
        <h1 class="page-title">Meine Listen</h1>
        <div class="page-options d-flex">
            <a asp-controller="ItemList" asp-action="Create" class="btn">Liste erstellen</a>
        </div>
    </div>
</section>

<section class="container">

    <div class="card">

        @if (!Model.MyLists.Any())
        {
            <div style="padding: .5rem 1rem; text-align: center">
                Du hast noch keine Listen angelegt.
            </div>
        }
        else
        {
            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="show-large center fit">öffentlich?</th>
                    <th class="show-large center fit">Einträge</th>
                    <th class="icon show-large fit"></th>
                </tr>
                </thead>

                <tbody>
                @foreach (var list in Model.MyLists)
                {
                    <tr>
                        <td>
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
                        </td>
                        <td class="show-large center">
                            <span class="fa-inline-host">
                                @if (list.IsPublic)
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times"></i>
                                }
                            </span>
                        </td>
                        <td class="show-large center">@list.ItemCount</td>
                        <td class="icon show-large">
                            <a asp-area="Lists" asp-controller="ItemList" asp-action="Update" asp-route-id="@list.Id" class="fa-host" title="Bearbeiten">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</section>

<section class="container">

    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-title">Favoriten</h3>
            <a asp-controller="ItemList" asp-action="Browse" class="ml-auto">Liste suchen</a>
        </div>

        <div>
            @if (!Model.Favorites.Any())
            {
                <div style="padding: .5rem 1rem; text-align: center">
                    Du hast noch keine Favoriten hinzugefügt.
                </div>
            }
            else
            {
                <table class="table table-vcenter card-table ">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="show-large center fit">Einträge</th>
                        <th class="icon fit"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var list in Model.Favorites)
                    {
                        <tr>
                            <td>
                                <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a> <small class="f-gray">von @list.Owner.UserName</small>
                            </td>
                            <td class="show-large center">@list.ItemCount</td>
                            <td class="icon">
                                <a asp-area="Lists" asp-controller="ItemList" asp-action="Unfavorite" asp-route-id="@list.Id" class="fa-host danger" aria-hidden="true" title="Als Favorit entfernen">
                                    <i class="fa fa-times danger" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>

</section>